<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <!-- Configuring MusicKit JS -->

    <title>MusicKit Features</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #looper-start-dot-position {
            width: 8px;
            position: absolute;
            left: 0%;
        }
        #looper-start-dot {
            width: 8px;
            height: 8px;
            background-color: #26107B;
            position: absolute;
            display: none;
            border-radius: 100%;
            top: 5px;
            left: -50%;
        }
        #looper-end-dot-position {
            width: 8px;
            position: absolute;
            left: 100%;
        }
        #looper-end-dot {
            width: 8px;
            height: 8px;
            background-color: #808080;
            position: absolute;
            display: none;
            border-radius: 100%;
            top: 5px;
            left: -50%;
        }
        #timescope {
            width: 250px;
            height: 3px;
            background-color: #DC3545;
            position: relative;
            margin: auto 12px;
            display: inline-block;
            opacity: 0.5;
        }
        #timescope-after {
            width: 0px;
            height: 3px;
            background-color: #26107B;
            position: absolute;
            display: inline-block;
        }
        #timescope-dot-position {
            width: 8px;
            position: absolute;
            left: 0%;
        }
        #timescope-dot {
            width: 8px;
            height: 8px;
            background-color: #26107B;
            position: absolute;
            display: inline-block;
            border-radius: 100%;
            top: -2.5px;
            left: -50%;
        }

        #favorite {
            display: none;
        }

        #volume-scope {
            width: 50px;
            height: 3px;
            background-color: #DC3545;
            position: relative;
            margin: auto 12px;
            display: inline-block;
            opacity: 0.5;
        }
        #volume-scope-after {
            width: 0px;
            height: 3px;
            background-color: #26107B;
            position: absolute;
            display: inline-block;
        }
        #volume-scope-dot-position {
            width: 8px;
            position: absolute;
            left: 80%;
        }
        #volume-scope-dot {
            width: 8px;
            height: 8px;
            background-color: #26107B;
            position: absolute;
            display: inline-block;
            border-radius: 100%;
            top: -2.5px;
            left: -50%;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow justify-content-center">
        <div id="player-function">
    
            <!-- nowPlayingItem.artworkURL -->
    
            <div class="card mb-3" style="max-width: 540px;">
                    {% if user_is_authenticated %}
                    <p>
                    {{username}}
                    </p>
                <p>
                    <a href="{% url 'account:logout' %}">ログアウト</a>
                    </p>
                    {% else %}
                <p>
                    <a href="{% url 'account:login' %}">ログイン</a>
                </p>
                    {% endif %}
                <div class="row g-0">
                    <div class="col-md-2">
                        <img id="artwork" style="max-width: 50px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 id="media-item-title" class="card-title"></h5>
                            <p id="album-info" class="card-text"><small class="text-muted"></small></p>
                            <span id="playback-time">0:00</span>
                            <span id="timescope">
                                <span id="timescope-after"></span>
                                <span id="timescope-dot-position">
                                    <span id="timescope-dot" draggable="true"></span>
                                </span>
                                <span id="looper-start-dot-position">
                                    <span id="looper-start-dot" draggable="true"></span>
                                </span>
                                <span id="looper-end-dot-position">
                                    <span id="looper-end-dot" draggable="true"></span>
                                </span>
                            </span>
                            <span id="playback-duration">0:00</span>
                                                    <p>
                            <button id="favorite">Favorite</button>
                        </p>
                        </div>
                        <p>
                            <button id="looper-switch">Looper On</button>
                        </p>
                        <p>
                            <span id="volume-scope">
                                <span id="volume-scope-after"></span>
                                <span id="volume-scope-dot-position">
                                    <span id="volume-scope-dot" draggable="true"></span>
                                </span>
                            </span>
                        </p>
                        <p><button id="back-to-start">Back to Start</button></p>
                        <p>
                            <button id="previous-item">Previous</button>
                            <button id="rewind">- 5 sec</button>
                            <button id="play-pause">▶︎</button>
                            <button id="fast-forward">+ 5 sec</button>
                            <button id="next-item">Next</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <input id="search-bar" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                    <ul class="nav flex-column">
                        <li class="nav-item" id="search-result-tab">
                            <a class="nav-link active" aria-current="page" href="#">
                                <span data-feather="home"></span>
                                Search Results
                            </a>
                        </li>
                        <li class="nav-item" id="now-playing-album-tab">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Playing Album
                            </a>
                        </li>
                        {% if user_is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Bookmarks
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div id="main-screen"></div>
            </main>
        </div>
    </div>

    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>

    <script type="text/javascript">
        // Create Promise for document.addEventListener
        const setupMusicKit = new Promise((resolve) => {
            document.addEventListener('musickitloaded', function () {
                // MusicKit global is now defined (MusicKit.configure can return a configured MusicKit instance too)
                MusicKit.configure({
                    developerToken: '{{musickit_dev_token}}',
                    app: {
                        name: 'My Cool Web App',
                        build: '2022.11.17'
                    }
                })
                // resolve the Promise with a MusicKit instance
                resolve(MusicKit.getInstance())
            })
        });

        // Wait till MusicKit.configure gets completed
        setupMusicKit.then(async (music) => {
            music.player.volume = 0.8;

            // Info Display
            let artworkImg = document.getElementById('artwork');
            let timeScope = document.getElementById('timescope');
            let timeScopeAfter = document.getElementById('timescope-after');
            let timeScopeDotPos = document.getElementById('timescope-dot-position');
            let timeScopeDot = document.getElementById('timescope-dot');
            let songName = document.getElementById('media-item-title');
            let currentAlbumName = document.getElementById('album-title');
            let currentArtistName = document.getElementById('artist-name');
            let currentAlgumInfo = document.getElementById('album-info')
            let playbackTime = document.getElementById('playback-time');
            let playbackDuration = document.getElementById('playback-duration');

            let nowPlayingAlbumInfo = document.getElementById('now-playing-album-info');

            let searchResultTabLink = document.getElementById('search-result-tab');
            searchResultTabLink.addEventListener('click', () =>{
                mainScreen.displaySearchResult()
            })
            
            let nowPlayingAlbumTabLink = document.getElementById('now-playing-album-tab');
            nowPlayingAlbumTabLink.addEventListener('click', () =>{
                mainScreen.displayNowPlayingAlbum()
            })


            music.addEventListener('mediaItemDidChange', () => {
                songName.textContent = music.player.nowPlayingItem.title
                currentAlgumInfo.textContent = music.player.nowPlayingItem.artistName+' | '+music.player.nowPlayingItem.albumName
                artworkImg.setAttribute('src', MusicKit.formatArtworkURL(music.player.nowPlayingItem.attributes.artwork, 100, 100))

                let seconds = ((music.player.currentPlaybackDuration % 60) < 10 ? '0' : '') + (music.player.currentPlaybackDuration % 60);
                let minutes = (MusicKit.formattedSeconds(music.player.currentPlaybackDuration).minutes < 10 ? '0' : '') + MusicKit.formattedSeconds(music.player.currentPlaybackDuration).minutes;
                let hours = MusicKit.formattedSeconds(music.player.currentPlaybackDuration).hours;

                let durationString = hours >= 1 ? hours + ':' + minutes + ':' + seconds : minutes + ':' + seconds;
                playbackDuration.textContent = durationString;

                // Reset loop segment
                looperStartDotPos.style.left = '0%';
                looperEndDotPos.style.left = '100%';
                looper.setStartTime(0);
                looper.setEndTime(music.player.currentPlaybackDuration);
                looper.setMediaItem({
                    'id': music.player.nowPlayingItem.id,
                    'type': music.player.nowPlayingItem.type
                });
            })

            music.addEventListener('playbackTimeDidChange', async () => {
                // Check Looper
                if (looper.isOn && music.player.currentPlaybackTime < looper.startTime) {
                    await music.player.seekToTime(looper.startTime)
                } else if (looper.isOn && music.player.currentPlaybackTime >= looper.endTime) {
                    await music.player.seekToTime(looper.startTime)
                }

                // Time Display
                let seconds = ((music.player.currentPlaybackTime % 60) < 10 ? '0' : '') + (music.player.currentPlaybackTime % 60);
                let minutes = (MusicKit.formattedSeconds(music.player.currentPlaybackTime).minutes < 10 ? '0' : '') + MusicKit.formattedSeconds(music.player.currentPlaybackTime).minutes;
                let hours = MusicKit.formattedSeconds(music.player.currentPlaybackTime).hours;

                let playbackTimeString = music.player.currentPlaybackDuration >= 3600 ? hours + ':' + minutes + ':' + seconds : minutes + ':' + seconds;
                playbackTime.textContent = playbackTimeString;

                let portionPlayed = music.player.currentPlaybackTime / music.player.currentPlaybackDuration;
                let pixedToBeColored = Math.floor(portionPlayed * timeScope.offsetWidth);
                timeScopeAfter.style.width = pixedToBeColored+'px';
                timeScopeDotPos.style.left = pixedToBeColored+'px';
            })

            music.addEventListener('playbackStateDidChange', () => {
                if (music.player.playbackState == 10) {
                    playPauseButton.textContent = '▶︎'
                }
            })


            music.addEventListener('playbackVolumeDidChange', () => {
                let pixedToBeColored = Math.floor(music.player.volume * volumeScope.offsetWidth);
                volumeScopeAfter.style.width = pixedToBeColored+'px';
                volumeScopeDotPos.style.left = pixedToBeColored+'px';
            })


            // Player Control
            let volumeControl = document.getElementById('volume-control');
            let volumeScope = document.getElementById('volume-scope');
            volumeScope.addEventListener('click', async (e)=> {
                let barWidth = volumeScope.offsetWidth;
                let clickedSpot = Math.floor(e.clientX - volumeScope.getBoundingClientRect().left);
                let volumeInDecimal = Math.round(clickedSpot / barWidth * 10)/10;
                if (volumeInDecimal <= 1) {
                    music.player.volume = volumeInDecimal
                }
            })

            let volumeScopeAfter = document.getElementById('volume-scope-after');
            let volumeScopeDotPos = document.getElementById('volume-scope-dot-position');
            let volumeScopeDot = document.getElementById('volume-scope-dot');

            volumeScopeDot.addEventListener('drag', (e)=> {
                let barWidth = volumeScope.offsetWidth;
                let cursorLocation = Math.floor(e.clientX - volumeScope.getBoundingClientRect().left);
                let volumeInDecimal = Math.round(cursorLocation / barWidth * 10)/10;
                if (volumeInDecimal <= 1 && volumeInDecimal >=0) {
                    music.player.volume = volumeInDecimal
                }
            })

            let playPauseButton = document.getElementById('play-pause');
            let previousButton = document.getElementById('previous-item');
            let nextButton = document.getElementById('next-item');
            let rewindButton = document.getElementById('rewind');
            let fastForwardButton = document.getElementById('fast-forward');
            let backToStartButton = document.getElementById('back-to-start');

            // Click Control on the Player Progress
            timeScope.addEventListener('click', async (e)=> {
                let barWidth = timeScope.offsetWidth;
                let clickedSpot = Math.floor(e.clientX - timeScope.getBoundingClientRect().left);
                let clickedSpotInSeconds = Math.floor(clickedSpot / barWidth * music.player.currentPlaybackDuration)
                await music.player.seekToTime(clickedSpotInSeconds)
            })

            timeScopeDot.addEventListener('dragend', async (e)=> {
                let barWidth = timeScope.offsetWidth;
                let cursorLocation = Math.floor(e.clientX - timeScope.getBoundingClientRect().left);
                let duration = music.player.currentPlaybackDuration;
                let clickedSpotInSeconds = Math.round(cursorLocation / barWidth * duration)
                timeScopeDotPos.style.left = cursorLocation+'px'

                let destinationTime;
                if (clickedSpotInSeconds < 0) {
                    destinationTime = 0
                } else if (clickedSpotInSeconds > duration) { 
                    destinationTime = duration
                } else {
                    destinationTime = clickedSpotInSeconds
                }
                await music.player.seekToTime(destinationTime)                
            })

            playPauseButton.addEventListener('click', function () {
                if (music.player.isPlaying) {
                    music.player.pause();
                    playPauseButton.textContent = '▶︎'
                } else {
                    music.player.play();
                    playPauseButton.textContent = '⏸'
                }
            })

            rewindButton.addEventListener('click', function () {
                let destination;
                if (music.player.currentPlaybackTime <= 5) {
                    destination = 0;
                } else {
                    destination = music.player.currentPlaybackTime - 5;
                }
                music.player.seekToTime(destination)
            });

            fastForwardButton.addEventListener('click', function () {
                let destination;
                if (music.player.currentPlaybackTime + 5 >= music.player.currentPlaybackDuration) {
                    destination = music.player.currentPlaybackDuration
                } else {
                    destination = music.player.currentPlaybackTime + 5;
                }
                music.player.seekToTime(destination);
            });


            backToStartButton.addEventListener('click', function () {
                music.player.seekToTime(0);
            });

            // Looper
            class Looper {
                constructor() {
                    this.isOn = false;
                    this.startTime = 0;
                    this.endTime = 0;
                    this.mediaItem = null;
                };
                looperSwitch() {
                    if (this.isOn) {
                        this.isOn = false
                    } else if (this.endTime > this.startTime) {
                        this.isOn = true
                    } else {
                        console.log('End time must be larger than start time.')
                    }
                };
                setStartTime(startAt) {
                    if (startAt > this.endTime) {
                        this.endTime = startAt;
                    }
                    this.startTime = startAt;
                };
                setEndTime(endAt) {
                    if (endAt > this.startTime) {
                        this.endTime = endAt;
                    } else if (this.isOn == true) {
                        console.log('End time must be larger than start time.')
                    }

                };
                setMediaItem(item) {
                    this.mediaItem = item
                }
            };

            let looper = new Looper();

            let looperStartDotPos = document.getElementById('looper-start-dot-position');
            let looperStartDot = document.getElementById('looper-start-dot');
            let looperEndDotPos = document.getElementById('looper-end-dot-position');
            let looperEndDot = document.getElementById('looper-end-dot');
            let favoriteButton = document.getElementById('favorite');

            looperStartDot.addEventListener('dragend', async (e)=> {
                let barWidth = timeScope.offsetWidth;
                let cursorLocation = Math.floor(e.clientX - timeScope.getBoundingClientRect().left);
                let duration = music.player.currentPlaybackDuration;
                let clickedSpotInSeconds = Math.round(cursorLocation / barWidth * duration)

                let endDotLeftInPixels = looperEndDotPos.style.left.indexOf('%') > -1 ? looperEndDotPos.style.left.substring(0, looperEndDotPos.style.left.length - 1) / 100 * barWidth : looperEndDotPos.style.left.substring(0, looperEndDotPos.style.left.length - 2)
                
                
                if (cursorLocation < 0) {
                    looperStartDotPos.style.left = '0px'
                } else if (cursorLocation > endDotLeftInPixels) {
                    looperStartDotPos.style.left = (endDotLeftInPixels - 1)+'px'
                } else {
                    looperStartDotPos.style.left = cursorLocation+'px'
                }

                let destinationTime;
                if (clickedSpotInSeconds < 0) {
                    destinationTime = 0
                } else if (clickedSpotInSeconds >= looper.endTime) { 
                    destinationTime = looper.endTime - 1
                } else {
                    destinationTime = clickedSpotInSeconds
                }
                looper.setStartTime(Number(destinationTime))
                await music.player.seekToTime(looper.startTime)
            })

            looperEndDot.addEventListener('dragend', (e) => {
                let barWidth = timeScope.offsetWidth;
                let cursorLocation = Math.floor(e.clientX - timeScope.getBoundingClientRect().left);
                let duration = music.player.currentPlaybackDuration;
                let clickedSpotInSeconds = Math.round(cursorLocation / barWidth * duration)

                let startDotLeftInPixels = looperStartDotPos.style.left.indexOf('%') > -1 ? looperStartDotPos.style.left.substring(0, looperStartDotPos.style.left.length - 1) / 100 * barWidth : looperStartDotPos.style.left.substring(0, looperStartDotPos.style.left.length - 2)

                if (cursorLocation > barWidth) {
                    looperEndDotPos.style.left = barWidth + 'px'
                } else if (cursorLocation < startDotLeftInPixels) {
                    looperEndDotPos.style.left = (startDotLeftInPixels * 1 + 1) + 'px'
                } else {
                    looperEndDotPos.style.left = cursorLocation + 'px'
                }

                let destinationTime;
                if (clickedSpotInSeconds <= looper.startTime) {
                    destinationTime = looper.startTime + 1
                } else if (clickedSpotInSeconds > duration) {
                    destinationTime = duration
                } else {
                    destinationTime = clickedSpotInSeconds
                }
                looper.setEndTime(Number(destinationTime))
            })

            let looperSwitch = document.getElementById('looper-switch');
            looperSwitch.addEventListener('click', () => {
                looper.looperSwitch()
                if (looper.isOn) {
                    looperSwitch.textContent = 'Looper Off'
                    looperStartDot.style.display = 'inline-block'
                    looperEndDot.style.display = 'inline-block'
                    favoriteButton.style.display = 'inline-block'
                } else {
                    looperSwitch.textContent = 'Looper On'
                    looperStartDot.style.display = 'none'
                    looperEndDot.style.display = 'none'
                    favoriteButton.style.display = 'none'
                }
            });

            favoriteButton.addEventListener('click', () => {
                console.log(looper)
            });

            // Previous and Next
            previousButton.addEventListener('click', function () {
                music.player.skipToPreviousItem();
            });

            nextButton.addEventListener('click', function () {
                music.player.skipToNextItem();
            });


            // Search Bar and Search Result
            let searchBar = document.getElementById('search-bar');
            searchBar.addEventListener('keypress', runSearch);
            let searchResultSongs = document.getElementById('search-result-songs');
            let searchResultAlbums = document.getElementById('search-result-albums');

            // Main Screen
            class MainScreen {
                constructor(prt) {
                    this.parentElement = prt;
                    this.searchResult = null;
                    this.nowPlayingAlbum = null;
                    this.favorite = null;
                };

                setSearchResult(result) {
                    this.searchResult = result
                };
                
                displaySearchResult() {
                    this.parentElement.textContent = '';
                    this.parentElement.appendChild(this.searchResult);
                };
                
                setNowPlayingAlbum(album) {
                    this.nowPlayingAlbum = album;
                };
                
                displayNowPlayingAlbum() {
                    this.parentElement.textContent = '';
                    this.parentElement.appendChild(this.nowPlayingAlbum);
                };
                
                setFavorite(fav) {
                    this.favorite = fav;
                };
                
                displayFavorite() {
                    this.parentElement.textContent = '';
                    this.parentElement.appendChild(this.favorite);
                };
            };

            let mainScreen = new MainScreen(document.getElementById('main-screen'))


            // Now-playin Album Info for MainScreen Class
            async function getNowPlayingAlbumInfo(albumId){
                
                const wrapperDiv = document.createElement("div");

                // Get album tracks
                let albumData = await music.api.album(albumId)
                let albumTracks = albumData.relationships.tracks.data

                const headerNowPlayingAlbum = document.createElement("h2");
                headerNowPlayingAlbum.textContent = 'Now Playing Album';
                wrapperDiv.appendChild(headerNowPlayingAlbum);

                const headerNowPlayingAlbumInfo = document.createElement("h3");
                headerNowPlayingAlbumInfo.textContent = albumData.attributes.name+' | '+albumData.attributes.artistName;
                wrapperDiv.appendChild(headerNowPlayingAlbumInfo);

                for (const track of albumTracks) {
                    const para = document.createElement("p");
                    para.setAttribute('class', 'song');
                    para.setAttribute('song-id', track.attributes.playParams.id);
                    para.setAttribute('album-id', albumId)
                    para.setAttribute('id', track.attributes.playParams.id)
                    const node = document.createTextNode(track.attributes.trackNumber +': '+track.attributes.name);
                    para.appendChild(node);

                    para.addEventListener('click', async (e) => {
                        await music.changeToMediaAtIndex(music.player.queue.indexForItem(e.target.getAttribute('song-id')))
                        playPauseButton.textContent = '⏸'
                    })
                    wrapperDiv.appendChild(para)
                }
                return wrapperDiv
            }

            async function getSongList(songArray) {
                const wrapperDiv = document.createElement("div");

                const headerSongs = document.createElement("h2");
                headerSongs.textContent = 'Songs';
                wrapperDiv.appendChild(headerSongs);

                let songIdList = []
                for (const song of songArray) {
                    songIdList.push(song.id)
                }
                // Bulk search the songs
                searchedSongs = await music.api.songs(songIdList)

                for (const song of searchedSongs) {                    
                    const ptag = document.createElement("p");
                    ptag.setAttribute('class', 'song');
                    ptag.setAttribute('song-id', song.id);
                    ptag.setAttribute('album-id', song.relationships.albums.data[0].id)
                    const node = document.createTextNode(song.attributes.name + ' - ' + song.attributes.albumName);
                    ptag.appendChild(node);

                    ptag.addEventListener('click', async (e) => {
                        await music.setQueue({
                            album: e.target.getAttribute('album-id'),
                            // startPosition: e.target.getAttribute('queue-index')
                        })
                        await music.changeToMediaAtIndex(music.player.queue.indexForItem(e.target.getAttribute('song-id')))
                        playPauseButton.textContent = '⏸'

                        mainScreen.setNowPlayingAlbum(await getNowPlayingAlbumInfo(e.target.getAttribute('album-id')))
                        mainScreen.displayNowPlayingAlbum()
                    })
                    wrapperDiv.appendChild(ptag);
                }
                return wrapperDiv
            }

            async function getAlbumList(albumArray) {
                const wrapperDiv = document.createElement("div");


                const headerAlbums = document.createElement("h2");
                headerAlbums.textContent = 'Albums';
                wrapperDiv.appendChild(headerAlbums);

                for (const album of albumArray) {
                    const ptag = document.createElement("p");
                    ptag.setAttribute('class', 'album');
                    ptag.setAttribute('album-id', album.id);
                    const node = document.createTextNode(album.attributes.name + ' - ' + album.attributes.artistName);
                    ptag.appendChild(node);

                    ptag.addEventListener('click', async (e) => {
                        await music.setQueue({
                            album: e.target.getAttribute('album-id')
                        })
                        await music.play()
                        playPauseButton.textContent = '⏸'
                        
                        mainScreen.setNowPlayingAlbum(await getNowPlayingAlbumInfo(e.target.getAttribute('album-id')))
                        mainScreen.displayNowPlayingAlbum()
                    })
                    wrapperDiv.appendChild(ptag);
                }
                return wrapperDiv
            }
            
            async function runSearch(e) {
                if (e.key == 'Enter') {
                    // Format search query and request API
                    let searchString = searchBar.value.replace(' ', '+').replace('　', '+');
                    searchResultData = await music.api.search(searchBar.value)
                    console.log(searchResultData)

                    // Populate search results on HTML
                    let songsDataArray = searchResultData.songs ? searchResultData.songs.data : null;
                    let albumsDataArray = searchResultData.albums ? searchResultData.albums.data : null;
                    let artistsDataArray = searchResultData.artists ? searchResultData.artists.data : null;

                    const wrapperDiv = document.createElement("div")

                    // Songs
                    if (songsDataArray) {
                        wrapperDiv.appendChild(await getSongList(songsDataArray))
                    }

                    // Albums
                    if (albumsDataArray) {
                        wrapperDiv.appendChild(await getAlbumList(albumsDataArray))
                    }
                    mainScreen.setSearchResult(wrapperDiv)
                    mainScreen.displaySearchResult()
                }
            }


        })

    </script>
</body>

</html>